<div class="jumbotron">
  <h1 class="display-4">Hello Bloggers!</h1>
  <p class="lead">TThis is my one of many of my Blog first web page more and interesting information coming soon.</p>
  <hr class="my-4">
  <p>This Web up is yours to use feel free to interect with it, make one pf best diary book.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>


       
        
       
    